
.column {
    float: left;
    width: 23%;
    margin-bottom: 16px;
    padding: 0 8px;
    background-image: url(https://i.gifer.com/2iiH.gif);
  }
  

  .mickelc{
    margin-right: -71%;
      margin-left: 79%;
    }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }