.proj {
    margin-top: 100px;
    margin-right: 20px;
}
.project2 {
    margin-right: 100%;
    margin: 100%;
    margin-top: auto;
}
.h1pro {
    color:blueviolet;
       text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.projectsss{
margin-right: -400px; 
margin-left: 550px;
margin-top: 200px;
}