
<br>
<br>

<div class="w3-third w3-container"> 
      <div class="w3-card">
        <header class="w3-container w3-light-grey" style="background-image: url(https://media.giphy.com/media/ITRemFlr5tS39AzQUL/giphy-downsized-large.gif); ">
               <p class="hello">    Hi Everyone, I am Mickel Angelo Gaudicos from Cawayanon, <br>San Miguel, Manolo Fortich, Bukidnon.
                  I am currently studying at Northern Bukidnon State College.
                  </p>
                  <p class="apa"> 
                  <br>
                  Apart from coding, some other activities that I love to do! <img class="w3-right w3-circle w3-margin-right" src="https://scontent.fdvo2-1.fna.fbcdn.net/v/t1.15752-9/371540297_936270021045996_5663450529985481110_n.png?_nc_cat=102&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeFKGOAnf3imbRtdFhSP5QHTorjumY_JHgyiuO6Zj8keDJ1AwpB2vlPJeBwop43c4T1mXouLYn-rMgB1Anqh6Y5O&_nc_ohc=E4z_RtMgXeYAX9gUh89&_nc_ht=scontent.fdvo2-1.fna&oh=03_AdRKqNSfojNtiAWgWmrf9I_uskYgxlDXKuYxXNum7UIN1A&oe=659EB28B" alt="link" width="28%" height="26%"></a>
                  <br>
                  Playing Games
                  Writing Tech Blogs
                  Travelling
                  </p>
                 
            </header>
      </div>




          <div class="abttpic">
          <img class="abtpic" src="//scontent.fdvo2-1.fna.fbcdn.net/v/t1.15752-9/371540297_936270021045996_5663450529985481110_n.png?_nc_cat=102&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeFKGOAnf3imbRtdFhSP5QHTorjumY_JHgyiuO6Zj8keDJ1AwpB2vlPJeBwop43c4T1mXouLYn-rMgB1Anqh6Y5O&_nc_ohc=E4z_RtMgXeYAX9gUh89&_nc_ht=scontent.fdvo2-1.fna&oh=03_AdRKqNSfojNtiAWgWmrf9I_uskYgxlDXKuYxXNum7UIN1A&oe=659EB28B" alt="link"   width="28%" height="26%">

         </div>
        