<div class="exp">


    <div class="w3-third w3-container"> 
        <div class="w3-card">
          <header class="w3-container w3-light-grey" style="background-image: url(https://i.pinimg.com/originals/4d/64/08/4d6408285378256a5080815dad34d608.gif); object-position: center;border-width: 2px;border-style: solid;border-color: #0e7f98c6;box-shadow: -5px 0 5px 5px #6ccffd, 5px 0 5px 5px #6ccffd, -5px 5px 5px #6ccffd; font-family: Roboto; background-repeat: no-repeat;background-size: cover; background-position-y: -5px; ">
            <h3 style="text-align: center;color: #DC143C;font-weight: bold;-webkit-text-stroke: 1px #fd6c9c;" >ABOUT ME
            </h3>
              </header>
              <div class="w3-container" style="background-image: url(https://scontent.fdvo2-1.fna.fbcdn.net/v/t1.6435-9/173656092_462670948380849_234505378680927457_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=7a1959&_nc_eui2=AeEiJPS_1-JCGcPIOaRgaVFMwmqEYw2ADNPCaoRjDYAM01Q-_e74NZKt4Da7qlfXJkjD3Epmn8hPZR1BWxRhpl1U&_nc_ohc=XBXNRs_L9_UAX_aomrb&_nc_ht=scontent.fdvo2-1.fna&oh=00_AfCg1qyQ2kG63YNbjh-_n6w8OSjYOSF_gb8VbuVTiWP9sA&oe=659A238F); border-width: 2.5px; border-style: solid; border-color: #990000;box-shadow: -5px 0 5px 5.5px #DB6885, 5px 0 5px 5.5px #DB6885; background-size: auto; background-repeat: no-repeat; background-size: cover;">
               <br></br>
               <br></br>
               <br></br>
                
                <p class="hello">
                    Hi Everyone, I am Mickel Angelo Gaudicos from Cawayanon, San Miguel, Manolo Fortich, Bukidnon.
I am currently studying at Northern Bukidnon State College.
                </p>
                <p class="apa"> 
<br>
Apart from coding, some other activities that I love to do!
<br>
 Playing Games
 Writing Tech Blogs
 Travelling
</p>
                 </div>
    </div>
    </div>

<script src="js/href.js"></script>