<div class="mickelc">
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="https://scontent.fmnl7-1.fna.fbcdn.net/v/t1.15752-9/403396330_1133140644340712_1832685580326423189_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeHpQWwK18udht7oQzmHxqspfkv0bA0QGcd-S_RsDRAZx1jXTRjFvcGzqsqFv-mYN_z1C2NxtNQvQJzSq7NeE25V&_nc_ohc=pMdvXzZdLnkAX9rF-ni&_nc_ht=scontent.fmnl7-1.fna&oh=03_AdQhbQcijeqi9LTVwZYqZ-aEBBvxYRTtQG_ok0OoueuDNg&oe=659D2777" alt="Mickel" style="width:99%; height: 110%;">
          <div class="container">
            <h2 class="title">Mickel Angelo Gaudicos</h2>
            <p class="hello">Developer</p>
            <p class="title">Z-2A San Miguel, Manolo Fortich, Bukidnon</p>
            <p class="hello"> gaudicosmickelangelo@gmail.com</p>
            
          </div>
        </div>
      </div>
    </div>