<div class="contact">

    <h1 class="cont_tle">Contact</h1>
   
    <h3>contact me at</h3>
        <p class="cont_p"><img src="https://i.pinimg.com/564x/e0/41/c3/e041c3a26069b57cf8ce439e4adf2fd9.jpg" alt="email" class="contact_icons w3-circle w3-left">  Gaudicosmickel@gmail.com </p>
        <p class="cont_p"><img src="https://i.pinimg.com/564x/db/ea/fe/dbeafeee092779eca9a2b45bf4920b2a.jpg" alt="phonenumber" class="contact_icons w3-circle">09994083131</p>
        <p class="cont_p"><img src="https://i.pinimg.com/564x/a0/59/b4/a059b4b50f01d98a4d552b213be81181.jpg" alt="messenger" class="contact_icons w3-circle">Mickel Angelo Gaudicos</p>
        <p class="cont_p"><img src="https://i.pinimg.com/564x/95/e7/32/95e732895618a6be4ec29bfa254b6e68.jpg" alt="adress" class="contact_icons w3-circle">Cawayanon, San Miguel, Manolo Fortich, Bukidnon</p>
</div>