
<div class="exp">

    
  <div class="w3-third w3-container"> 
    <div class="w3-card">
      <header class="w3-container w3-light-grey" style="background-image: url(8256a5080815dad34d608.gif); object-position: center;border-width: 2px;border-style: solid;border-color: #000;box-shadow: -5px 0 5px 5px #CBC3E3, 5px 0 5px 5px #CBC3E3, -5px 5px 5px #CBC3E3; font-family: Roboto; background-repeat: no-repeat;background-size: cover; background-position-y: -5px; ">
       
          </header>
          <div class="w3-container" style="background-image: url(https://scontent.fmnl7-1.fna.fbcdn.net/v/t1.15752-9/403396330_1133140644340712_1832685580326423189_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeHpQWwK18udht7oQzmHxqspfkv0bA0QGcd-S_RsDRAZx1jXTRjFvcGzqsqFv-mYN_z1C2NxtNQvQJzSq7NeE25V&_nc_ohc=pMdvXzZdLnkAX9rF-ni&_nc_ht=scontent.fmnl7-1.fna&oh=03_AdQhbQcijeqi9LTVwZYqZ-aEBBvxYRTtQG_ok0OoueuDNg&oe=659D2777); border-width: 2.5px; border-style: solid; border-color: #000;box-shadow: -5px 0 5px 5.5px #CBC3E3, 5px 0 5px 5.5px #CBC3E3; background-size: auto; background-repeat: no-repeat; background-size: cover; ">
            <br></br>
             <br></br>
             <br></br>
             
              
                  <br>
                  <br>
          <br>
          <br>
          <p style="color: rgb(0, 0, 0); font-family: monospace; background-image: linear-gradient(to right, #CBC3E3, #CBC3E3); border-bottom-left-radius: 11px; border-top-left-radius: 11px;">Mickel Angelo Gaudicos<a href="https://github.com/RipMickel"><img class="w3-right w3-circle w3-margin-right" src="https://i.pinimg.com/originals/95/17/53/951753a4fb9bb0a0013a9badc2f7550e.gif" alt="link" width="25px" height="20px"></a></p>
              
            
          </div>
  </div>

  <p id="demo" onclick="myFunction()">Hola! Click me if you don't mind.</p>

  <script>
  function myFunction() {
    document.getElementById("demo").innerHTML = "Hi! I'm Mickel Angelo Gaudicos! ";   }
  </script>

  </div>