<div class="projectsss">
    <br>
    <br>
    <br>
     <div class="w3-third w3-container"> 
       <div class="w3-card">
         <header class="w3-container w3-light-grey" style="background-image: url(https://media.giphy.com/media/LlL40tuPsO62rJ8kH6/giphy.gif); ">
                <p class="h1pro">Featured Projects</p>
   <br>
            
             </header>
            
             <div class="w3-container" style="background-image: url(https://media.giphy.com/media/9Pmfazv34l7aNIKK05/giphy.gif);">
              <br>
              <br>
             <br>
               <p style="color: rgb(0, 0, 0); font-family: monospace; background-image: linear-gradient(to right, #CBC3E3, #CBC3E3); border-bottom-left-radius: 11px; border-top-left-radius: 11px;">Bouncing balls<a href="https://ripmickel.github.io/bouncing-ball/"><img class="w3-right w3-circle w3-margin-right" src="https://i.pinimg.com/originals/95/17/53/951753a4fb9bb0a0013a9badc2f7550e.gif" alt="link" width="25px" height="20px"></a></p>
             
               <p style="color: rgb(0, 0, 0); font-family: monospace; background-image: linear-gradient(to right, #CBC3E3, #CBC3E3); border-bottom-left-radius: 11px; border-top-left-radius: 11px;">Icon Hover<a href="https://ripmickel.github.io/hover/"><img class="w3-right w3-circle w3-margin-right" src="https://i.pinimg.com/originals/95/17/53/951753a4fb9bb0a0013a9badc2f7550e.gif" alt="link" width="25px" height="20px"></a></p>
                 
               <p style="color: rgb(0, 0, 0); font-family: monospace; background-image: linear-gradient(to right, #CBC3E3, #CBC3E3); border-bottom-left-radius: 11px; border-top-left-radius: 11px;">Git Account <a href="https://github.com/RipMickel/it24-main"><img class="w3-right w3-circle w3-margin-right" src="https://i.pinimg.com/originals/95/17/53/951753a4fb9bb0a0013a9badc2f7550e.gif" alt="link" width="25px" height="20px"></a></p>
             
             </div>
       </div>
     </div>
     
               
             <div class="abttpic">
               <img class="abtpic" src="" alt="link"   width="28%" height="26%">
     
              </div>
             </div>